# Основные библиотеки для работы
pytesseract==0.3.13       # Обертка Python для Tesseract
spacy==3.8.8              # NLP библиотека
Pillow==11.3.0            # Для работы с изображениями (предобработка, открытие)
pandas==2.2.3             # Для удобной работы с табличными данными (очень пригодится)
pdf2image==1.16.3         # Для конвертации PDF в изображения (т.к. работаем с PDF без текстового слоя)
